* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f2f2f2;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.box-input {
  position: relative;
  margin-bottom: 20px;
}

.box-input i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #777;
}

.box-input input {
  width: 100%;
  padding: 10px 40px 10px 30px;
  border: none;
  border-radius: 20px;
  background: #f5f5f5;
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

.btn-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #4caf50;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.4s;
  margin-top: 10px;
  text-decoration: none; /* menambahkan properti ini */
}

.btn-input:hover {
  background: #388e3c;
}

.bottom {
  margin-top: 20px;
  text-align: center;
}

.bottom p {
  font-size: 16px;
}

.bottom a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .input {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
