* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #edf4f7;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.box-input {
  position: relative;
}

.box-input i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #777;
}

.box-input input {
  width: 100%;
  padding: 10px 0px 10px 20px;
  border: none;
  border-radius: 20px;
  background: #f5f5f5;
  color: #333;
  font-size: 13px;
  margin-bottom: 10px;
}

.btn-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #1da0fd;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.4s;
  margin-top: 10px;
  text-decoration: none; /* menambahkan properti ini */
}

.btn-input:hover {
  background: #1da0fd;
}

.bottom {
  margin-top: 20px;
  text-align: center;
}

.bottom p {
  font-size: 16px;
}

.bottom a {
  color: #1da0fd;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .input {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

.alert {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .input {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  h1 {
    font-size: 24px;
  }

  .box-input input {
    padding: 10px;
  }

  .btn-input {
    font-size: 14px;
    padding: 8px;
  }

  .bottom p {
    font-size: 14px;
  }
}
