table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #4caf50;
  color: white;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type="text"] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #3e8e41;
}

body {
  background-color: #edf4f7;
}

.kembali {
  display: flex;
  align-items: center;
}
.tulisan-notifikasi {
  position: relative;
  left: 10px;
  top: 5px;
  font-weight: 500px;
  font-size: 15px;
  margin-right: 10px;
}
.tombol-kembali {
  position: relative;
  top: 8px;
  left: 0px;
  border: none;
  transform: scale(150%);
  background-color: #edf4f7;
}
