.action {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.ya {
  background-color: #4caf50;
  color: white;
}

.ya:hover {
  background-color: #45a049;
}

.batal {
  background-color: #f44336;
  color: white;
}

.batal:hover {
  background-color: #d32f2f;
}

.container {
  height: 100vh;
  background-color: #d4e8d8;
  background-position: center;
  overflow: hidden;
}

form {
  width: 40%;
  height: 50%;
  position: relative;
  margin: 4% auto;
  margin-top: 150px;
  background: #ffffff;
  padding: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  form {
    width: 80%;
    height: 60%;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 400px) {
  form {
    width: 90%;
    height: 50%;
    margin-top: 80px;
    font-size: 15px;
  }
}

h1 {
  margin-top: 20px;
  font-size: 2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin: 30px 0;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
  background-color: #45a049;
}

.btn-2 {
  background-color: #4caf50;
  display: inline-block;
  padding: 12px 20px;
  margin: 0 10px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.btn-2:hover {
  background-color: #45a049;
}
