* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  background-color: #edf4f7;
  background-position: center;
  overflow: hidden;
}

form {
  width: 50%;
  height: 60%;
  position: relative;
  margin: 4% auto;
  margin-top: 150px;
  background: #ffffff;
  padding: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border-color: #80beb1;
}

select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
}

input[type="submit"] {
  background-color: #80beb1;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 15px;
}

input[type="submit"]:hover {
  background-color: #5da496;
}

.btn-kembali {
  width: 45%;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  text-decoration: none;
  border: none;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

.btn-kembali:hover {
  background-color: #d32f2f;
}

h1 {
  font-family: "Segoe UI", sans-serif;
  font-size: 50px;
  margin-top: -10px;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  form {
    width: 80%;
    height: 50%;
    margin-top: 150px;
  }

  select,
  input[type="submit"] {
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .btn-kembali {
    width: 65%;
    margin-top: 20px;
    font-size: 14px;
  }
}

.kolom-icon {
  border-radius: 20px;
  position: absolute;
  box-sizing: border-box;
  top: 600px;
  left: -6px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.18);
  width: 450px;
  height: 100px;
}
.icon-chat,
.icon-notifikasi {
  position: fixed;
  top: 617px;
  left: 240px;
  width: 33px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: none;
}
.icon-notifikasi img {
  transform: scale(100%);
}
.icon-chat {
  position: fixed;
  top: 618px;
  left: 145px;
  width: 26px;
  height: 26px;
  background-color: rgb(255, 255, 255);
  border: none;
}
.icon-chat img {
  transform: scale(100%);
}
.icon-profil {
  position: fixed;
  height: 3.17%;
  width: 8%;
  top: 622px;
  right: 8.06%;
  bottom: 3.83%;
  left: 85.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
}
.icon-profil img {
  transform: scale(170%);
}
.icon-home {
  position: fixed;
  height: 3.13%;
  width: 6.39%;
  top: 620px;
  right: 83.89%;
  bottom: 3.88%;
  left: 9.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  background-color: #edf4f7;
  border: none;
}
.icon-home img {
  transform: scale(167%);
}
